<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminIndexController</servlet-name>
        <servlet-class>AdminPackage.AdminIndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>UserController.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductController</servlet-name>
        <servlet-class>AdminPackage.AdminProductController</servlet-class>
    </servlet>
    <!--Aya Mahmoud/Adding servlets configuration-->
    <servlet>
        <servlet-name>AdminCategoryController</servlet-name>
        <servlet-class>AdminPackage.AdminCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAllProductOfCategoryController</servlet-name>
        <servlet-class>AdminPackage.AdminAllProductOfCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleProductController</servlet-name>
        <servlet-class>UserController.SingleProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteCategoryController</servlet-name>
        <servlet-class>AdminPackage.AdminDeleteCategoryController</servlet-class>
    </servlet>
    <!--Aya Mahmoud/Adding servlets configuration-->
    <servlet-mapping>
        <servlet-name>AdminIndexController</servlet-name>
        <url-pattern>/AdminIndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/IndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductController</servlet-name>
        <url-pattern>/AdminProductController</url-pattern>
    </servlet-mapping>
    <!--Aya Mahmoud/Adding servlets mapping configuration-->
    <servlet-mapping>
        <servlet-name>AdminCategoryController</servlet-name>
        <url-pattern>/AdminCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAllProductOfCategoryController</servlet-name>
        <url-pattern>/AdminAllProductOfCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleProductController</servlet-name>
        <url-pattern>/SingleProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteCategoryController</servlet-name>
        <url-pattern>/AdminDeleteCategoryController</url-pattern>
    </servlet-mapping>
    <!--Aya Mahmoud/Adding servlets mapping configuration-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
