<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminIndexController</servlet-name>
        <servlet-class>AdminPackage.AdminIndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>UserController.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductController</servlet-name>
        <servlet-class>AdminPackage.AdminProductController</servlet-class>
    </servlet>
    <!--Aya Mahmoud/Adding servlets configuration-->
    <servlet>
        <servlet-name>AdminCategoryController</servlet-name>
        <servlet-class>AdminPackage.AdminCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAllProductOfCategoryController</servlet-name>
        <servlet-class>AdminPackage.AdminAllProductOfCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleProductController</servlet-name>
        <servlet-class>UserController.SingleProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteCategoryController</servlet-name>
        <servlet-class>AdminPackage.AdminDeleteCategoryController</servlet-class>
    </servlet>
    <!--Aya Mahmoud/Adding servlets configuration-->
    <servlet>
        <servlet-name>BuyCartController</servlet-name>
        <servlet-class>UserController.BuyCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>UserController.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>UserController.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartController</servlet-name>
        <servlet-class>UserController.EditCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>UserController.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProductController</servlet-name>
        <servlet-class>AdminPackage.AdminAddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteUserController</servlet-name>
        <servlet-class>AdminPackage.AdminDeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProductController</servlet-name>
        <servlet-class>AdminPackage.AdminEditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowProfileController</servlet-name>
        <servlet-class>AdminPackage.AdminShowProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchController</servlet-name>
        <servlet-class>UserController.searchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminIndexController</servlet-name>
        <url-pattern>/AdminIndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/IndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductController</servlet-name>
        <url-pattern>/AdminProductController</url-pattern>
    </servlet-mapping>
    <!--Aya Mahmoud/Adding servlets mapping configuration-->
    <servlet-mapping>
        <servlet-name>AdminCategoryController</servlet-name>
        <url-pattern>/AdminCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAllProductOfCategoryController</servlet-name>
        <url-pattern>/AdminAllProductOfCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleProductController</servlet-name>
        <url-pattern>/SingleProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteCategoryController</servlet-name>
        <url-pattern>/AdminDeleteCategoryController</url-pattern>
    </servlet-mapping>
    <!--Aya Mahmoud/Adding servlets mapping configuration-->
    <servlet-mapping>
        <servlet-name>BuyCartController</servlet-name>
        <url-pattern>/BuyCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartController</servlet-name>
        <url-pattern>/EditCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProductController</servlet-name>
        <url-pattern>/AdminAddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteUserController</servlet-name>
        <url-pattern>/AdminDeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProductController</servlet-name>
        <url-pattern>/AdminEditProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowProfileController</servlet-name>
        <url-pattern>/AdminShowProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchController</servlet-name>
        <url-pattern>/searchController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>IndexController</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>secure</display-name>
        <web-resource-collection>
            <web-resource-name>secure</web-resource-name>
            <description/>
            <url-pattern>/AdminPages/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>manager</description>
            <role-name>manage</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>DIGEST</auth-method>
    </login-config>
    <security-role>
        <description/>
        <role-name>manage</role-name>
    </security-role>
</web-app>
